/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}

.btn {
  background-color: #ffffff;
  color: #fa7257;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  outline: none;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.first-last-Name-container {
  background-color: #fddddb;
  padding: 50px;
  border-radius: 10px;
  font-size: 25px;
  color: #000000;
  font-family: 'Roboto';
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .first-last-Name-container {
    font-size: 20px;
    padding: 40px;
  }
}

div {
  text-align: center;
}
